body{
    background-image: url('../ressources/wall.jpg');
    background-repeat: no-repeat;
}

#abdmsTitle{
    font-family: Blippo;
}
#DivDB{
    padding-top:100px;

}

#ContainerDB, #ContainerTable, #ContainerEditTable{
    border:3px solid black;
}

label{
    font-size: 15px;
    color: #000000;
}

.col.s12.m6{
    float: none;
    margin: 100px auto;
    width: 600px;
    height: 300px;
}



.checkPrimaryKey {
    display:none;
}

.checkPrimaryKey + label{
    background:url('ressources/check-box.png') no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.checkPrimaryKey:checked + label{
    background:url('ressources/check-box-checked.png') no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}