<div class="container animated fadeInRight" id="ContainerEditTables">
    <div class="col s12 m6">
        <div id="ContainerEditTable" class="card-panel white">
            <h5 id="h5Eta">Edit your Tables</h5>
            <table class="highlight">
                <form id="table-form" ng-submit="editTable()">
                    <thead>
                    <tr>
                        <th data-field="del">Del</th>
                        <th data-field="pk">PK</th>
                        <th data-field="name">Column Name</th>
                        <th data-field="typr">Type</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="column in columns">
                        <td>
                            <input type="checkbox" id="checkDel0"/>
                            <label for="checkDel0"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="checkPk0"/>
                            <label for="checkPk0"></label>
                        </td>
                        <td>
                            <div class="input-field">
                                <input id="columnName0" type="text" ng-model="column.title" required/>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="browser-default" ng-model="type.title" ng-init="type = types[1]" material-select watch >
                                    <option ng-repeat="type in types" ng-selected="type.id == '1'">{{type.title}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="checkDel"/>
                            <label for="checkDel"></label>
                        </td>
                        <td>
                            <input type="checkbox" id="checkPk"/>
                            <label for="checkPk"></label>
                        </td>
                        <td>
                            <div class="input-field">
                                <input id="columnName" type="text" ng-model="column.title"
                                       ng-keypress="keypressHandler($event)"
                                       required/>
                                <label for="columnName">Add your column</label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                <select ng-model="column.type" select={{column.type}}>
                                    <option value="varchar5">Varchar(50)</option>
                                    <option value="varchar500">Varchar(500)</option>
                                    <option value="int">Int</option>
                                    <option value="float">Float</option>
                                    <option value="date">Date</option>
                                    <option value="boolean">Boolean</option>
                                </select>
                                <label>Column Type</label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </form>
            </table>

            <a class="btn-floating btn waves-effect waves-light black"><i class="mdi-content-clear">dell</i></a>
            <a class="btn-floating btn waves-effect waves-light black" ng-click="addColumn(column)"><i class="material-icons">add</i></a>
            <!--
            </br>
            </br>
            <a class="waves-effect waves-light btn">Return</a>
            <a class="waves-effect waves-light btn">Delete Table</a>
            <a class="waves-effect waves-light btn">Save Table</a>
            -->
        </div>
    </div>

</div>

