<div ng-show="tables.length" class="container" id="ContainerTableList">
    <div class="row left">
        <div>
            <div class="card-panel white">
                <h5 id="h5Eta">List Tables</h5>

                <table>
                    <thead>
                    <tr>
                        <th data-field="name">Name</th>
                        <th data-field="action">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="table in tables">
                        <td>{{table.title}}</td>
                        <td>
                            <i class="light mdi-content-create" style="cursor:pointer"
                               ng-click="editTable(table)"> </i>
                            <i class="light mdi-content-remove" style="cursor:pointer"
                               ng-click="removeTable(table)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a class="waves-effect waves-light btn-flat" ng-click="clearAllTables()">Clear</a>
            </div>
        </div>
    </div>
</div>