<div class="container animated zoomInUp" id="ContainerTableSelect" style="width: 600px;">
        <div class="col s12 m6">
            <div id="ContainerTable" class="card-panel white">
                <h5 id="h5Eta">Select your Tables</h5>
                <table>
                    <form id="table-form" ng-submit="addTable()">
                        <tr>
                            <td><img src="ressources/table.png" style="height:100px;"/></td>
                            <td>

                                <input id="new-table" placeholder="Add your table name" ng-model="newTable"/>
                            </td>
                            </td>
                            <td>
                                <button class="btn waves-effect waves-light black" type="submit" name="action"
                                        ng-show="DataSelect != 0" ng-click="addTable()">Add
                                    <i class="material-icons right">done</i>
                                </button>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>

</div>

