<!-- Parallax -->
<div id="ParallaxContainer">
    <div class="section black" style="height:300px;margin-top:150px;">
        <div class="row container">
            <h2 class="header white-text">DateBase Management System</h2>

            <p class="white-text text-darken-3 lighten-3">Try the most powerful tool to create your own database.</p>

            <p class="white-text text-darken-3 lighten-3">Select your favorite DataBase; Create & Update all your tables
                and explore all you can do.</p>
            </br>
            <a class="waves-effect waves-light btn-large" ng-click="Launcher()">Let's Go</a>
        </div>
    </div>

</div>