<div class="container animated fadeInRight" id="ContainerEditTables">
    <div class="col s12 m6">
        <div id="ContainerEditTable" class="card-panel white">
            <h5 id="h5Eta">Edit your Table : {{tableName}}</h5>
            <table class="highlight">
                <form id="table-form" ng-submit="editTable()">
                    <thead>
                    <tr>
                        <th data-field="del">Del</th>
                        <th data-field="pk">PK</th>
                        <th data-field="name">Column Name</th>
                        <th data-field="typr">Type</th>
                        <th data-field="fk">FK</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in columns">
                        <td>
                            <a ng-click="delColumn(c)" style="cursor: pointer;">X</a>
                        </td>
                        <td>
                            <input id="{{c.idC}}" type="checkbox" ng-model="c.pk" ng-click="checkPk(c.idC)" watch/>

                            <label for="{{c.idC}}"><i class="material-icons" ng-show="c.pk">vpn_key</i></label>
                        </td>

                        <td>
                            <div class="input-field">
                                <input id="columnName0" type="text" ng-model="c.title" required/>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="browser-default" ng-model="c.type" material-select watch>
                                    <option ng-repeat="t in types">{{t.type}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="browser-default" material-select watch>
                                    <option ng-repeat="c in tablePK">{{c.title}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                        </td>

                        <td>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                <input id="columnName" type="text" ng-model="column.title"
                                       ng-keypress="keypressHandler($event)"
                                       required/>
                                <label for="columnName">Column Name</label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field col s12">
                                <select class="browser-default" ng-model="column.type" material-select watch>
                                    <option ng-repeat="t in types">{{t.type}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </form>
            </table>
            <a class="btn-floating btn waves-effect waves-light black" ng-click="addColumn()"><i class="material-icons">add</i></a>

            </br>
            </br>
            <hr>
            <div align="right">
                <a class="waves-effect waves-light black btn" ng-click="returnToListTables()">Return</a>
            </div>
        </div>
    </div>

</div>

